@font-face {
    font-family: chubby;
    src: url('../font/CHUBBY.TTF');
}

/*
    RESOLUÇÃO PC ESCOLA: 1920X1080
    RESOLUÇÃO PC FORUM: 1360X768
*/

/* Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Background's */
:root {
    --section-bg: #ececec;
    --hero-bg: #00649c;
}

/* Colors */
:root {
    --black: #000;
    --white: #fff;
    --blue: #09014a;
    --red: #ce1212;
    --yellow: #ffcf00;
}

/* Smooth scroll */
html {
    scroll-behavior: smooth;
}

/* General */
body {
    font-family: "Open Sans", sans-serif;
    color: #37434e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

section {
    overflow: clip;
    padding: 60px 0;
    scroll-margin-top: 58px;
}

p {
    color: #000;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* Header */
.header .logo {
    line-height: 1;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 6rem;
    position: fixed;
    width: 100%;
    z-index: 996;
    color: #000000;
    background: #ffffffdc;
    padding: 20px 0;
    transition: all 0.5s;
    box-shadow: 0 0 8px #8a8686;
}

.logo {
    color: #706868;
    font-size: 19px;
    margin: 5px 0;
    text-decoration: none;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #000000;
    cursor: pointer;
    font-weight: 700;
    font-family: chubby;
}

.login-button button {
    border: none;
    width: 100px;
    padding: 10px;
    border-radius: 50px;
    background-color: #0187a7;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.mobile-menu-icon {
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.mobile-menu {
    display: none;
    position: fixed;
    z-index: 995;
    width: 50%;
    height: 100%;
    margin: 90px 0;
    right: 0;
}

.mobile-menu ul li a {
    color: #000000;
    font-weight: 700;
    font-family: 'poppins', sans-serif;
}

@media screen and (max-width: 768px) {
    .nav-bar {
        padding: 1.46rem 4rem;
    }
    .nav-item {
        display: none;
    }
    #hero-header {
        color: rgba(255, 152, 0, 1)
    }
    
    #about-header {
        color: rgba(65, 164, 249, 1)
    }
    
    #causes-header {
        color: rgba(244, 143, 177, 1);
    }
    
    #levels-header {
        color: #7a7676;
        transition: 0.5s;
    }
    
    #levels-header:hover {
        color: #2c2828;
    }
    .login-button {
        display: none;
    }
    .mobile-menu {
        background: #ffffffdc;
        height: 100%;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: grid;
        gap: 43px;
        flex-direction: column;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block ;
        color: #000;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        margin: 100px 0 0 0;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
    .nav-link::after {
        display: none;
    }
    .nav-link:hover::after {
        display: none;
    }
}

#hero-header {
    color: rgba(255, 152, 0, 1);
}

#about-header {
    color: rgba(65, 164, 249, 1);
}

#causes-header {
    color: rgba(244, 143, 177, 1);
}

#levels-header {
    color: #7a7676;
    transition: 0.5s;
}

#levels-header:hover {
    color: #2c2828;
}

/* Hero Section */
#hero {
    width: 100%;
    min-height: 94vh;
    position: relative;
    padding: 60px 0;
    display: flex;
    align-items: center;
    
    background: url('https://turinha-static.pkds.it/blog/production/2017/02/11130024/cantigas-de-roda-1.jpg') top center;
    background-size: cover;
}

#hero:before {
    content: "";
    background: rgba(53, 50, 50, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.container-hero {
    padding: 90px 0 40px 0;
    position: absolute;
    z-index: 994;
    margin-left: 40px;
    text-align: left;
    margin-right: 40px;
    background: transparent;
}

.more-button button {
    font-size: 15px;
    border: none;
    width: 100px;
    padding: 10px 15px;
    border-radius: 50px;
    margin-left: 20px;
    color: #fff;
    cursor: pointer;
    background-color: #0187a7;
}
  
.hero-text h1 {
    margin: 0 0 15px 20px;
    color: #0187a7;
    font-size: 64px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
  
.hero-text p {
    margin: 5px 50% 30px 0;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
  
@media (max-width: 768px) {
    .container-hero {
      text-align: center;
      padding: 0;
      margin:  0;
    }
    .hero-text {
        text-align: center;
        margin: auto;
    }
    .hero-text p {
        margin: 10px 50px 0 50px;
        text-align: center;
        font-size: 20px;
    }
    .hero-text h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }
    .more-button {
        margin: 20px 0;
        cursor: pointer;
    }
}

/* Sobre */
#about {
    background: #fff;
}

#about h1 {
    font-size: 32px;
    font-weight: bold;
    padding: 6px 0 0 20px;
    position: relative;
    color: #362b2b;
}

#about h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 50px;
    background: rgba(65, 164, 249, 1);
    margin-bottom: 9px;
    left: 0;
    top: 0;
}

.container-about {
    margin: 0 20px 0 20px;
}

.wave1 {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 1px;
    margin-bottom: 190px;
}

.paragraph-up {
    text-indent: 20px;
    text-align: justify;
    font-size: 20px;
    padding-top: 26px;
}

.paragraph-down {
    text-indent: 20px;
    text-align: justify;
    font-size: 20px;
}

.paragraph-down strong {
    color: #d35216;
    text-decoration: underline;
}

#about img {
    width: 275px;
    height: 183px;
    border-radius: 5px;
    margin: auto;
}

@media (max-width: 868px) {
    #about img {
        margin: 0 0 0 180px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1129px) {
    .wave1 {
        visibility: hidden;
    }
}

/* Causas */
#causes {
    background: #ececec;
}

#causes h1 {
    font-size: 32px;
    font-weight: bold;
    padding: 6px 0 0 20px;
    position: relative;
    color: #362b2b;
}

#causes h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 50px;
    background: rgba(244, 143, 177, 1);
    margin-bottom: 9px;
    left: 0;
    top: 0;
}

.container-causes {
    margin: 0 20px 0 20px;
}

.research {
    padding-top: 26px;
    text-indent: 20px;
    text-align: justify;
    font-size: 20px;
    margin: 20px 8px;
}

.genetic {
    padding-top: 26px;
    text-indent: 20px;
    text-align: justify;
    font-size: 20px;
    margin: 20px 8px;
}

.environmental {
    padding-top: 26px;
    text-indent: 20px;
    text-align: justify;
    font-size: 20px;
    margin: 20px 8px;
}

.genetic h3 {
    position: relative;
    padding: 6px 0;
    color: #173b6c;
}

.genetic p {
    text-indent: 20px;
    text-align: justify;
    font-size: 20px;
    margin: 20px 8px;
}

.environmental h3 {
    position: relative;
    padding: 6px 0;
    color: #173b6c;
}

.environmental p {
    text-indent: 20px;
    text-align: justify;
    font-size: 20px;
    margin: 20px 8px;
}

/* levels*/
#levels {
    background: rgba(108, 178, 238, 0.712);
}

#levels h1 {
    font-size: 32px;
    font-weight: bold;
    padding: 6px 0 18px 20px;
    text-align: center;
    position: relative;
    color: #362b2b;
}

#levels h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 110px;
    height: 3px;
    background: #e61313;
    margin-bottom: 9px;
    margin-left: 600px;
    bottom: 0;
}

.wave2 {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 1px;
    margin-top: -60px;
}

.container-levels {
    text-indent: 20px;
    text-align: justify;
    font-size: 20px;
    margin: 180px 20px 0 20px;
}

.low {
    margin-bottom: 70px;
}

.middle {
    margin-bottom: 50px;
}

.low h2 {
    padding: 20px;
    color: #00ff22;
}

.middle h2 {
    padding: 20px;
    color: #e5f31b;
}

.high h2 {
    padding: 20px;
    color: #e76418;
}